# Directories
.Python/
.ipynb_checkpoints/
__pycache__/
build/
dist/
*eggs/
*.egg*/
lib/
lib64/
downloads/
sdist/
env/
var/
htmlcov/
cache/
.cache/
.tox/
.coverage/
parts/
win-32/
win-64/
linux-32/
linux-64/
osx-64/
doc/build/
target/
.settings/
js/dist/
js/node_modules/
win-32/
win-64/
linux-32/
linux-64/
osx-64/

# Compiled
*.py[cod]
*.nb[ci]
*.so
.Python
env/*
build/*
develop-eggs/*
dist/*
downloads/*
eggs/*
.eggs/*
lib/*
lib64/*
parts/*
sdist/*
var/*
js/dist/*
js/node_modules/*
*.egg-info/*
.installed.cfg
*.egg
*.pypirc

# IDE and misc
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.coverage.*
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
*.project
*.pydevproject
*.swp
*~
*.DS_Store*

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.synctex.*
*.toc

# Project specific
exatomic/_nbextension/
