# Directories
.Python/
.ipynb_checkpoints/
__pycache__/
build/
dist/
*eggs/
*.egg*/
lib/
lib64/
downloads/
sdist/
env/
var/
htmlcov/
cache/
.cache/
.tox/
.coverage/
parts/
win-32/
win-64/
linux-32/
linux-64/
osx-64/
doc/build/
target/
.settings/


# Compiled
*.py[cod]
*.nb[ci]
*.so

# IDE and misc
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.coverage.*
nosetests.xml
coverage.xml
*.mo
*.pot
*.log*
*.project
*.pydevproject
*.swp
*~
*.DS_Store*

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.synctex.*
*.toc

# Project specific
record.txt
node_modules
