language: python

os:
  - linux
  - osx

python:
  - "2.7"
  - "3.5"
  - "3.6"

before_install:
  - deactivate
  - if [ $TRAVIS_OS_NAME == "osx" ]; then
      wget http://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - sh miniconda.sh -b -p ~/miniconda
  - export NUMBA_DISABLE_JIT=1    # For coverage
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q --all

install:
  - conda install -q python=$TRAVIS_PYTHON_VERSION
  - conda install -q -c conda-forge six numpy pandas pytables numba sympy
  - conda install -q -c conda-forge -c symengine symengine python-symengine
  - conda install -q -c conda-forge sphinx sphinx_rtd_theme ply pandoc pypandoc nbsphinx
  - conda install -q -c conda-forge python-coveralls nose
  - pip install travis-sphinx codacy-coverage coverage
  - git clone https://github.com/avmarchenko/exa.git
  - cd exa
  - pip install .
  - cd ../
  - conda install -q -c conda-forge numexpr nodejs ipywidgets
  - pip install .

script:
  - nosetests --with-coverage
  - coverage xml
  - travis-sphinx -n build

after_success:
  - coveralls
  - python-codacy-coverage -r coverage.xml
  - travis-sphinx -n deploy
